{
    "ApiKey"               : "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "ClientCredentialFile" : "client_secret_000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com.json",
    "PlaylistID"           : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}